* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  
  background: linear-gradient(135deg, #b7b7c6, #3f3f5a);
  
}
